<!-- Header -->
<header id="index">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="intro-text">
          <span class="name">Free Up Your Team</span>
          <div class="name-desc">
            <p>Convox is a private development and deployment platform.</p>
      <p>We package the best cloud services into a simple and reliable system.</p>
      <p>You focus on apps.</p>
      <hr/>
          </div>
        </div>
        <ul class="actions">
          <li><a href="//vimeo.com/190645705" data-lity class="how-it-works">See&nbsp;How&nbsp;It&nbsp;Works</a></li>
          <li><a href="/guide" class="highlight icon-more your-apps">Modernize&nbsp;Your&nbsp;Apps</a></li>
        </ul>
        <div class="short-desc sign-up">
          <div class="row" style="margin-bottom: 20px;">
            <a id="sign_up" href="/signup" class="cta btnshadow orange_button">Sign Up For Free</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- https://segment.com/docs/sources/website/analytics.js/quickstart/ -->
    {{ template "partials/segment.html" }}

</header>

