<script>
$(function() {
  return $("h2, h3, h4, h5, h6").each(function(i, el) {
    var $el, icon, id;
    $el = $(el);
    id = $el.attr('id');
    icon = '<i class="fa fa-link"></i>';
    if (id) {
      return $el.prepend($("<a />").addClass("header-link").attr("href", "#" + id).html(icon));
    }
  });
});
</script>

<footer class="text-left">
  <div class="footer-menu">
    <div class="container">
      <div class="row">
        <div class="slack">
          <h2>Convox team and community chat</h2>
          <p>Convox is very active. Join our Slack to ask questions and get answers.</p>
          <script async defer src="https://invite.convox.com/slackin.js?large"></script>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="text-left">
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          © 2016 Convox, Inc. <span><a href="/legal/privacy">Privacy Policy</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.min.js"></script>
<script src="/assets/js/classie.js"></script>

{{ template "partials/facebook.html" }}
{{ template "partials/intercom.html" }}
{{ template "partials/segment.html" }}
