<!-- <br clear="all" /> -->
<!-- life better Grid Section -->
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Convox solves the tough problems so you can focus on your business.</h2>
      </div>
    </div>
    <div class="row">
      <div class="services-inner">
        <div class="col-sm-4 col-xs-12 first">
          <div class="box">
            <img src="/assets/images/compliance.png" alt="Compliance">
            <h4>Compliance</h4>
            <ul>
              <li>Installs into your certified account</li>
              <li>Uses only services that are HIPAA eligible</li>
              <li>Follows best practices for security</li>
            </ul>
            <p>Read the <a href="/docs/hipaa-compliance/">HIPAA docs</a></p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="box">
            <img src="/assets/images/customization.png" alt="Data Science">
            <h4>Customization</h4>
            <ul>
              <li>Runs containers from 64 MB to 60+ GB</li>
              <li>Offers storage from 10 GB to 10+ TB</li>
              <li>Serves web apps and private data services alike</li>
            </ul>
            <p><a href="https://labs.opendoor.com/moving-opendoors-data-science-stack-from-heroku-to-convox">Opendoor migration</a> and <a href="/cases/opendoor">case study</a></p>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 last">
          <div class="box">
            <img src="/assets/images/high-data.png" alt="High Data Throughput">
            <h4>Scalability</h4>
            <ul>
              <li>Balances traffic across 1 to 100+ containers</li>
              <li>Deploys new code with zero-downtime</li>
              <li>Keeps all your logs and metrics in one place</li>
            </ul>
            <p>Read the <a href="/cases/interstate">Interstate Analytics case study</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

