<!-- Logo Section -->
<section class="trusted-client">
  <div class="container">
    <div class="row">
    <div class="col-lg-3 col-sm-12">
        <h3>Teams run better with Convox</h3>
    </div>
    <div class="col-lg-9 col-sm-12 text-center thumbnails">
        <div>
          <img src="/assets/images/shyp.png" alt="Shyp" class="img-responsive">
        </div>
        <div>
          <img src="/assets/images/opendoor.png" alt="OpenDoor" class="img-responsive">
        </div>
        <div>
          <img src="/assets/images/doordash.png" alt="DoorDash" class="img-responsive">
        </div>
        <div>
          <img src="/assets/images/podium.png" alt="Podium" class="img-responsive">
        </div>
        <div>
          <img src="/assets/images/cloudwalk.png" alt="Cloudwalk" class="img-responsive">
        </div>
        <div>
          <img src="/assets/images/statflo.png" alt="Statflo" class="img-responsive">
        </div>
        <div>
          <img src="/assets/images/fixd.png" alt="Fixd" class="img-responsive">
        </div>
        <div>
          <img src="/assets/images/havenlife.png" alt="Haven Life" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

