<!--mailchimp-->
<div id="mc_embed_signup">
  <form action="//convox.us10.list-manage.com/subscribe/post-json?u=55a0526a0c4fd5e0010c9bae3&amp;id=69fa821fe6&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_55a0526a0c4fd5e0010c9bae3_69fa821fe6" tabindex="-1" value="">
      </div>

      <div class="row no-gutter newslettermargin">
        <div class="col-sm-6 subscribe-form-field">
          <input placeholder="name@example.com" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="col-sm-6 subscribe-form-button">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  var $form = $("#mc-embedded-subscribe-form");

  $form.find('input[type="submit"]').bind('click', function (e) {
    if (e) e.preventDefault();

    $.ajax({
        type: $form.attr('method'),
        url: $form.attr('action'),
        data: $form.serialize(),
        cache       : false,
        dataType    : 'json',
        contentType: "application/json; charset=utf-8",
        error       : function(err) { alert("Could not connect to the registration server. Please try again later."); },
        success     : function(data) {
          if (data.result != "success") {
            // strip off beginning of '0 - This email address looks fake or invalid. Please enter a real email address.'
            var msg = data.msg.replace(/^[0-9]+ - /, "")
            $("#mce-error-response").html(msg).show()
          } else {
            var email = $form.find('[name=EMAIL]').val();

            analytics.identify({ email: email });
            analytics.track("Subscription Created", { email: email });
            analytics.page("Subscription Created", {
              path: '/subscription_created'
            });

            $("#mc_embed_signup").html('<p>Thank you! Please check your inbox to confirm.</p>')
          }
        }
    });
  });
</script>

