<section class="products">
  <div class="container">
    <div class="row">
      <div class="services-inner">
        <div class="col-sm-6 col-xs-12 col-lg-3">
          <div class="box">
            <img src="/assets/images/doctor.png" alt="Convox Doctor">
            <h4><span>$</span> convox doctor</h4>
            <ul>
              <li>Diagnose your app</li>
              <li>Report best practices</li>
              <li>Test production behavior</li>
            </ul>
      <hr/>
            <p><a href="/guide">Read the guide</a></p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-3">
          <div class="box">
            <img src="/assets/images/start.png" alt="Convox Start">
            <h4><span>$</span> convox start</h4>
            <ul>
              <li>Develop your app</li>
              <li>Use any editor</li>
              <li>Simulate production environment</li>
            </ul>
      <hr/>
            <p><a href="//vimeo.com/190645705" data-lity>Watch the video</a></p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-3">
          <div class="box">
            <img src="/assets/images/workflow.png" alt="Convox Workflows">
            <h4><span>$</span> convox workflows</h4>
            <ul>
              <li>Verify your app</li>
              <li>Run integration tests</li>
              <li>Stage production-ready images</li>
            </ul>
      <hr/>
            <p><a href="/automation">Learn about automation</a></p>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-3">
          <div class="box">
            <img src="/assets/images/deploy.png" alt="Convox Deploy">
            <h4><span>$</span> convox deploy</h4>
            <ul>
              <li>Serve your app</li>
              <li>Use cloud services</li>
              <li>Rollout production images</li>
            </ul>
      <hr/>
            <p><a href="/cases/compare">Compare to other platforms</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

