<!-- Testimonial Section -->
<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 text-center">
        <p>"Having Convox on board has freed up roughly 25% of our engineer's time every week. The level of service they provide is truly astounding."</p>
        <span style="background-image: url('/assets/images/testimonial-generic.png');">Arthur Weagel, Podium</span>
      </div>
      <div class="col-lg-4 col-sm-12 text-center">
        <p>"Convox has been instrumental in helping us enjoy the flexibility of AWS. Their support, product, and team are second to none."</p>
        <span style="background-image: url('/assets/images/testimonial-generic.png');">Jamie Quint, Interstate Analytics</span>
      </div>
      <div class="col-lg-4 col-sm-12 text-center">
        <p>"Deploying our scientific Python stack used to be a nightmare. Convox eliminates the stress and uncertainty of packaging our code for production."</p>
        <span style="background-image: url('/assets/images/testimonial-generic.png');">Ian Wong, OpenDoor</span>
      </div>
    </div>
  </div>
</section>

